* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #678d58;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 25px;
  color: black;
}

.hide {
  display: none;
}

#msg {
  font-size: 2rem;
  text-align: center;
  color: #e1d3ba;
  margin-bottom: 15px;
}

.container {
  background-color: #678d58;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticTacToe {
  width: 550px;
  background-color: #678d58;
  padding: 20px;
  height: 550px;
}

.select-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.select-box .options {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.select-box button {
  padding: 10px 20px;
  background-color: #f6e7cb;
  border: none;
  color: #678d58;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.players {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.box {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f6e7cb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #b33951;
  font-size: 4rem;
  text-align: center;
  line-height: 100px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  width: 48%;
  height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #f6e7cb;
  color: #678d58;
  font-size: 1rem;
}

#newGame {
  display: none;
}

.Xturn,
.Oturn {
  display: none;
}

.turn-active {
  display: block;
}
